<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inter.DeptMapper">
    <select id="getDeptByDeptno" parameterType="int" 
        resultType="Dept">
        select * from dept where deptno=#{deptno}
    </select>
    <select id="queryDept"  resultType="Dept">
        select * from dept
    </select>
    <delete id="deleteDeptByDeptno" parameterType="int" >
    	delete from dept where deptno=#{deptno}
    </delete>
    <insert id="addDept" parameterType="Dept">
    	insert into dept values(#{deptno},#{dname},#{loc})
    </insert>
    <update id="updateDeptByDeptno" parameterType="hashMap">
    	update dept set deptno=#{dept.deptno},dname=#{dept.dname},loc=#{dept.loc} where deptno=#{oldDeptno}
    </update>
</mapper>